<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>

<ul>
    {{ range $dailyData := .DailyData }}
        <li>
            {{- $dailyData.Date }}
            <ul>
                {{ range $note := $dailyData.Notes }}
                    <li><a href="/{{- $note }}">{{- $note }}</a> add: <a href="/note/new?base={{ $note }}&date={{ $dailyData.Date }}&to=newer">↑</a> <a href="/note/new?base={{ $note }}&date={{ $dailyData.Date }}&to=older">↓</a></li>
                {{ end }}
            </ul>
        </li>
    {{ end }}
</ul>
</body>
</html>